<style>
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  body::after {
    content: "";
    background: url('/media/background.jpg');
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
  }
  .content {
    position: relative;
    z-index: 1;
    background: rgba(139, 247, 198, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
</style>
